.portfolioContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem
}

.portifolioItem {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portifolioItem:hover {
border-color: var(--color-primary-variant);
background: transparent;
}

.portfolioItemImg {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portifolioItem h3 {
  margin: 1.2rem 0 2rem;
}

.portfolioItemCTA {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width:1024px) {
  .portfolioContainer {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  
}

@media screen and (max-width:600px) {
  .portfolioContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
}